/* styles */

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

/* Site Wide */

* {
    margin: 0;
    padding: 0;
}

header img {
    height: 70px;
    margin-top: 5px;
    margin-left: 20px;
}

body {
    margin: 0;
    background-color: #000000;
    font-family: 'Cinzel', serif;
    margin-top: 10px;
    padding: 10px;
}

main, p, h1, h2 {
    color: #faebd7;
}

h3 {
    color: #c29635;
}

.wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-left: 16px;
    padding-right: 16px;
}

p {
    font-family: 'Raleway', sans-serif;
}

/* Nav Bar */

header {
    background-color: #000000;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 25px 0 #781010;
}

header logo {
    display: flex;
    justify-items: flex-start;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a:visited {
    color:#808080;
}

header li a:hover, .email-address a:hover {
    color: #AE2F16;
}

header li a, .email-address a {
    color: #faebd7;
    text-decoration: none;
}

/* Hero */

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #faebd7;
    background-image: linear-gradient(#00000099,#00000099), url('../img/inari-red-temple.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.button {
    display: block;
    width: 200px;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #faebd7;
    text-decoration: none;
    font-size: 1.5em;
    border: 3px solid #faebd7;
    border-radius: 20px;
    background-color: #c2963599
}

.button:hover {
    background-color: #c29635cc;
}

/* Testimonials */

.testimonial {
    box-shadow: 0 0 25px 0 #781010;
    color: #9e9e9e;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 35px 10px 35px 10px;
    max-width: 310px;
    min-width: 250px;
    position: relative;
    text-align: center;
    width: 100%;
    background-color: #212020;
    border-radius: 5px;
    border-top: 5px solid #AE2F16;
}

.testimonial figcaption {
    padding: 13% 10% 12%;
}
  
.testimonial figcaption:before {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #00000040;
    color: #AE2F16;
    content: "\f10e";
    font-family: 'FontAwesome';
    font-size: 32px;
    font-style: normal;
    left: 50%;
    line-height: 60px;
    position: absolute;
    top: -30px;
    width: 60px;
}
  
.services-column {
    margin: 0 0 40px 0;
}

.testimonial h3 {
    color: #faebd7;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin: 10px 0 5px;
}
  
.testimonial h4 {
    font-weight: 400;
    margin: 0;
    opacity: 0.5;
}
  
.testimonial blockquote {
    font-style: italic;
    font-weight: 300;
    margin: 0 0 20px;
}
  
/* Footer */

footer {
    background-color: #212020;
}

.footer-menu {
    font-size: 10px;
    padding: 20px 0 50px 0;
    text-align: center;
    color: #808080;
    height: 150px;
}

footer li a {
    color: #faebd7;
    text-decoration: none;
}

.footer-menu ul {
    list-style: none;
    display: table;
    margin: 0 auto;
}

.social-footer {
    height: auto;
    width: 30vw;
    margin: auto;
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
}

.fa {
    margin: 10px;
    padding: 10px;
    font-size: 10px;
    width: 25px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: #c29635;
    color: #000000;
}
  
.fa-instagram {
    background: #c29635;
    color: #000000;
}

.fa-linkedin {
    background: #c29635;
    color: #000000;
}

.vl {
    border-left: 0.5px solid #faebd7;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50%;
    margin-right: 50%;    
}


/* About */

.about-blurb {
    text-align: center;
}

.wrapper h2 {
    text-align: center;
    margin: 40px 0 10px 0;
}

.column {
    float: left;
    width: 33.3%;
    box-sizing: border-box;
    margin-bottom: 16px;
    padding: 0 8px;  
}

.card {
    position: relative;
    box-shadow: 0 4px 8px 0 #781010;
    height: 1050px;
}
  
.container {
    padding: 0 10px;
    line-height: 1.6;
    height: 685px;
}

.title {
    font-size: 15px;
    color: #c29635;
    padding: 10px 0 10px 0;
}

.row .button {
    position: absolute;
    bottom: 10px;
    width: fit-content;
    height: fit-content;
    font-size: 15px;
    font-family: cinzel;
    margin: 20px 65px 20px 65px;
}
 
.container::after, .row::after, .website-designs::after {
    content: "";
    clear: both;
    display: table;
}

/* portfolio */

.pagehead {
    margin-top: 100px;
    color: #c29635;
    text-align: center;
}

.website-designs {
    margin: 100px 20px 20px 20px;
}

.fakesite1, .fakesite2, .fakesite3 {
    float: left;
    width: 33.3%;
    box-sizing: border-box;
    text-align: center;
}

.website-designs img {
    width: 200px;
    padding: 10px;
}

.question {
    color: #faebd7;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.video {
    text-align: center;
    padding: 50px;
}

/* contact */

.addwrap {
    width: 100%;
    overflow: hidden;
}

.address {
    width: 300px;
    float: left;
}

.map {
    padding: 100px 50px 50px 50px;
    overflow: hidden;
}

input[type=text], input[type=number], input[type=email], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 5px; 
    margin-bottom: 15px; 
    resize: vertical;
}
  
input[type=submit] {
    display: block;
    width: 100px;
    padding: 1em;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #faebd7;
    text-decoration: none;
    font-size: 1em;
    border: 3px solid #faebd7;
    border-radius: 20px;
    background-color: #c2963599;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #c29635cc;
}
  
.form {
    background-color:#ae2f1628;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 20px;
}

.email-address a {
    color:#c29635
}
  
.address {
    text-align: left;
    margin:100px 10px 10px 10px;
}

input[type=checkbox] {
    accent-color: #781010;
}